# GENERAL
PROJECT_NAME=project
DB_NAME=database

#MYSQL
MYSQL_ROOT_PASSWORD=password
MYSQL_PORT=3316

# WORDPRESS
WORDPRESS_TABLE_PREFIX=wp_db_preffix_
WORDPRESS_PORT=80

# PHPMYADMIN
PHPMYADMIN_PORT=8080
