# GENERAL
PROJECT_NAME=project_name
DB_NAME=database_name

#MYSQL
MYSQL_ROOT_PASSWORD=password
MYSQL_PORT=3306
TZ=America/New_York

# WORDPRESS
WORDPRESS_TABLE_PREFIX=wp_db_preffix_
WORDPRESS_PORT=80
WORDPRESS_URL=http://localhost

# PHPMYADMIN
PHPMYADMIN_PORT=8080
    